body {
width: 1920px;
height: 1834px;
top: -513px;
left: -720px;
padding: 64px 0px 64px 0px;
gap: 0px;
opacity: 0px;
background: linear-gradient(180deg, #58F6EC 0%, #FBEDDD 64.58%);
}
.maindiv {
width: 504px;
height:1,706px;
top: 64px;
left: 708px;
padding: 8px 0px 0px 0px;
gap: 30px;
opacity: 0px;
}
.newsblock {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 80%;
    align-items: center;
    width: 488px;
    height: 314px;
    background-color: white;    
    box-shadow: 5px 4px 16px 0px rgba(51, 28, 0, 0.15);
    margin: 0 auto;
    text-align: center;
}
h3 {
font-family: 'Poppins';
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: center;
}
p {
font-family: 'Inter';
font-size: 12px;
font-weight: 400;
line-height: 14.52px;
text-align: center;
}
button {
    width:73px;
    height:31px;
    padding-top: 8px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-left: 16px;
    gap: 8px;
    opacity: 0px;    
    background-color:rgba(252, 203, 146, 1);
    text-align: center;
}