#products {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  width: 250px;
}

img.card-img-top {
  height: 250px;
  width: 250px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
