button {
  margin-top: 10px;
}

table,
table td {
  border: solid 1px black;
  border-collapse: collapse;
  font-size: 16px;
}

h1 {
  font-size: 30px;
}
p {
  font-size: 16px;
}
ul {
  font-size: 16px;
}
.zoom {
  margin-top: 10px;
  font-size: 16px;
}

body.pritaikymas h1 {
  font-size: 50px;
}
body.pritaikymas p {
  font-size: 24px;
}
body.pritaikymas ul {
  font-size: 24px;
}
body.pritaikymas table {
  font-size: 24px;
}
body.pritaikymas table td {
  padding: 10px;
}
body.pritaikymas .neregiui {
  font-size: 24px;
}
