html body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  display: flex;
  align-items: center;
}

.suma p {
  color: white;
  font-family: "PT Sans";
  font-size: 14px;
  margin-top: 43px;
  margin-bottom: 8px;
}

.suma span {
  color: #949494;
  font-family: "Inter";
  font-size: 12px;
}

.suma input {
  width: 320px;
  height: 44px;
  background: #191919;
  border-radius: 5px;
  border: none;
}

.suma .input select {
  width: 85px;
  height: 44px;
  color: white;
  background: #191919;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  padding-left: 5px;
}

.suma .currency select {
  width: 308px;
  height: 44px;
  color: white;
  background: #191919;
  border-radius: 5px;
  border: none;
}

.buttons button.calculate {
  background-color: white;
  color: white;
  height: 44px;
  width: 205px;
  border-radius: 5px;
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.buttons button.active {
  background-color: black;
  color: white;
  height: 44px;
  width: 205px;
  border-radius: 5px;
  margin-top: 15px;
  border: 2px solid white;
  font-weight: 700;
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

#currency-to-label p {
  color: white;
  font-family: "PT Sans";
  font-size: 14px;
  margin-bottom: 8px;
}

.rezultatas {
  color: white;
}

.detalizacija {
  color: white;
  font-family: "Inter";
  font-size: 12px;
  margin-top: 10px;
  text-decoration: underline 15px rosybrown;
  text-underline-offset: -5px;
}
