main {
    max-width: 1200px;
    margin: 0 auto;
    background-color:#D4F1E6;
    font-family: 'Montserrat';
    padding: 20px;
}

.flex-container {
    display: flex;
}

main h1 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-left: 15px;
}

main .img-list {
    justify-content: space-between;
    flex-wrap: wrap;
}

main .img-list img {
    height: 300px;
    border-radius: 20px;
    margin:15px;
}

main .img-list .small {
    width: 40%;
}

main .img-list .big {
    width: 55%;
}

main .article {
    background-color: white;
    border-radius: 20px;
    margin: 15px;
    padding: 30px;
    justify-content: space-between;
}

main .article .article-text {
    width: 55%;;
}

main .article .article-img {
    width: 30%;
}

main .article .article-img img {
    width: 100%;
}