body {
    background-color: black;
}
#textblock {
    width: 675px;
    height: 355px;
    position: relative;
    top: 106px;
    left: 66px;
    padding: 65px 72px 66px 72px;
    gap: 0px;
    border-radius: 12px 0px 0px 0px;
    background-color: rgba(34, 34, 37, 0.7);
}

#text1 {
    width: 531px;
    height: 96px;
    color: white;
    font-family: Inter;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.41999998688697815px;
    text-align: left;
}

#text2 {
    width: 525px;
    height: 52px;
    color: white;
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

button {
    width: 160px;
    height: 42px;
    padding: 7px 14px 16px 16px;
    border-radius: 12px;
    border: 2px rgba(241, 121, 101, 1) solid;
    color: rgba(241, 121, 101, 1);
    background-color: rgba(34, 34, 37, 0.7);
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: -0.05em;
    text-align: left;
}

button:hover {
    background: rgba(247, 144, 144, 1);
    color: white;
}

.megaphone {
    width: 195px;
    height: 195px;
    position: absolute;
    top: -3.86px;
    left: 49.01px;
    transform: rotate(20deg);


}