body {
  background-color: rgb(234, 234, 234) !important;
}
.container {
  margin-top: 50px;
  border: black 1px solid;
  border-radius: 15px;
  padding: 60px 0 60px 0;
}

.cards-list {
  gap: 5px;
  justify-content: center;
}

.cards-list .card {
  height: 100%;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

button .filter-colapse {
  margin-top: 10px;
  margin-left: 10px;
}

#collapseWidthExample div.collapse-bg-color {
  background-color: rgb(234, 234, 234);
  border: none;
}
