.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: #282c34;
    color: white;

}

.navbar .links li {
    list-style-type: none;
    display: inline-block;
    margin: 0 15px;
}