@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

body {
  background-color: #eee;
  font-family: "Roboto", sans-serif;
  color: #444;
  max-width: 960px;
  margin: 100px auto;
  padding: 10px;
  background-color: #ddd;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav h1 {
  margin: 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  background-color: #36cca2;
  padding: 10px;
  border-radius: 10px;
}

form {
  max-width: 500px;
}

input,
textarea {
  display: block;
  margin: 16px 0;
  padding: 6px 10px;
  width: 100%;
  border: 1px solid #ddd;
}

textarea {
  min-height: 200px;
}

.post,
.details {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0 20px 0;
}
.post a {
  text-decoration: none;
  color: green;
}
.post p {
  margin-top: 0;
}
.post h2 {
  margin: 0;
}

button#backButton {
  color: #fff;
  text-decoration: none;
  background-color: #36cca2;
  padding: 10px;
  border-radius: 10px;
}
