.homeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mapContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.homeTitle {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: white
}

.homeInfoIp, .homeInfoLocation, .homeInfoProvider {
  margin: 10px 0;
  font-size: 18px;
  color: #666;
  display: flex;
  align-items: center;
  gap: 10px;
}

.mapContainer:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  border-color: #646cff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.homeDiv:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  border-color: #646cff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}