.gallery-section {
    padding: 60px 0;
    background-color: #fff;

    .section-title {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 10px;
        letter-spacing: 3px;
        text-transform: uppercase;
        text-align: center;
    }
    .section-underline {
        display: block;
        margin: 16px auto 26px;
        width: 60px;
        height: 4px;
        background: linear-gradient(to right, #7f4826, #4e290e);
        border-radius: 2px;
    }
    

    .section-description {
        color: #777;
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .gallery-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 30px;
        gap:1px;

        .gallery-item {
            position: relative;
            aspect-ratio: 4/3;
            overflow: hidden;

            a {
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                text-decoration: none;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .gallery-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(119, 119, 119, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s ease;

                .gallery-title {
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 300;
                }
            }
            &:hover {
                .gallery-overlay {
                    opacity: 2;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .gallery-section {
        padding: 40px 0;

        .gallery-grid {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .section-description {
            max-width: 90%;
        }
    }
}

@media (max-width: 428px) {
    .gallery-section {
        padding: 30px 0;

        .gallery-grid {
            grid-template-columns: 1fr;
            gap: 15px;
        }

        .section-title {
            font-size: 20px;
        }

        .section-description {
            max-width: 95%;
            font-size: 14px;
        }
    }
}
