body {
  margin-left: 30px;
}

h3 {
  color: antiquewhite;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  opacity: 0.8;
}

